<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.wenhao.securitytest.mapper.SysPermissionMapper">
<!--    获得对应的路径所需要的权限-->
    <select id="getPermissionByUrl" resultType="priv.wenhao.base.pojo.dto.SysPermissionDto">
        select sr.role_name as roleName,sp.url as url
        from sys_role as sr
        left join sys_role_power as srp on srp.role_id=sr.id
        left join sys_power as sp on sp.id=srp.power_id
        where sr.is_deleted=0
    </select>
</mapper>