<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.wenhao.securitytest.mapper.SysRoleMapper">
<!--通过教师id获得角色-->
    <select id="getRoleNameById" resultType="java.lang.String">
        select sr.role_name from sys_teacher_role as str
        left join sys_role as sr on sr.id=str.role_id
        where str.teacher_id=#{id};
    </select>
</mapper>